
:root {
    // Universal vars
    --primary-background-dark-mode: rgb(18, 18, 18);
    --secondary-background-dark-mode: rgb(26, 26, 26);
    --tertiary-background-dark-mode: rgb(37, 37, 37);
    --quaternary-background-dark-mode: rgb(45, 45, 45);
    --primary-color-dark-mode: white;

    --primary-background-white-mode: white;
    --secondary-background-white-mode: rgb(247, 247, 247);
    --tertiary-background-white-mode: transparent;
    --quaternary-background-white-mode: rgb(240, 240, 240);
    --primary-color-white-mode: rgb(18, 18, 18);

    // Current vars
    --primary-background-current-mode: var(--primary-background-white-mode);
    --secondary-background-current-mode: var(--secondary-background-white-mode);
    --tertiary-background-current-mode: var(--tertiary-background-white-mode);
    --quaternary-background-current-mode: var(--quaternary-background-white-mode);
    --primary-color-current-mode: var(--primary-color-white-mode);
}
