// Index Page Styles
.index-link {
  all: unset;
}

.index-about-title {
  margin-bottom: 1.5rem;
}

.index-about-description {
  margin-bottom: 1.5rem;
}

.index-about-story {
  margin-bottom: 1.5rem;
} 