body {
  margin: 0;
  overflow: hidden;
  background: #ffffff;
}

#scene-container {
  width: 100vw;
  height: 100vh;
  -ms-touch-action: none;
      touch-action: none;
}

#toggleSidebar {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #5dbb63;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  z-index: 1100;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: #5dbb63;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  position: fixed;
  overflow-y: auto;
  right: -300px;
  top: 0;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  -webkit-box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}
.sidebar h2 {
  color: black;
  text-align: center;
}
.sidebar label {
  color: black;
  font-size: 18px;
}
.sidebar input {
  width: 95%;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
}
.sidebar output {
  width: 95%;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
}
.sidebar button {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar.visible {
  right: 0;
}

#toggleUnitformbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #f69697;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  z-index: 1100;
}

.unitformbar {
  width: 300px;
  padding: 20px;
  background: #f69697;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  position: fixed;
  overflow-y: auto;
  left: -300px;
  top: 0;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  top: -30px;
}
.unitformbar .unitformbar, .unitformbar h2 {
  color: black;
  text-align: center;
  margin-top: 50px;
}
.unitformbar .unitformbar, .unitformbar label {
  color: white;
  font-size: 16px;
}
.unitformbar .unitformbar, .unitformbar input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
}
.unitformbar .unitformbar, .unitformbar button {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unitformbar.visible {
  left: 0;
}

.measurement-values {
  margin-top: 10px;
  padding: 5px;
  background: #FAEDCD;
  border: 1px solid black;
}

.measurement-values span {
  display: block;
  margin-bottom: 10px;
}

.text-main {
  font-size: 20px;
  color: black;
}

.titlemain {
  position: fixed;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 50px;
  color: black;
  text-align: center;
  white-space: nowrap;
}/*# sourceMappingURL=Cutremur.css.map */