
// @import "common/vars";
// @import "common/mixins";
@import "common/variables";

@import "components/general";
@import "components/navbar";
@import "components/hero";
@import "components/index";
@import "components/footer";